<form [formGroup]="form" (ngSubmit)="submit()">
    <h1>Create new post</h1>

    <div 
        [ngClass]="{invalid: form.get('title')?.touched && form.get('title')?.invalid}"
        class="form-control"
    >
        <label for="title">Post title:</label>
        <input type="text" id="title" formControlName="title">
        <div
            *ngIf="form.get('title')?.touched && form.get('title')?.invalid" 
            class="validation"
        >
            <small
                *ngIf="form.get('title')?.errors!['required']"
            >title is required</small>
        </div>
    </div>

    <div class="form-control">
        <label>Post content:</label>
        <quill-editor formControlName="text"></quill-editor>
    </div>

    <div 
        [ngClass]="{invalid: form.get('author')?.touched && form.get('author')?.invalid}"
        class="form-control"
    >
        <label for="author">Post author:</label>
        <input type="text" id="author" formControlName="author">
        <div
            *ngIf="form.get('author')?.touched && form.get('author')?.invalid" 
            class="validation"
        >
            <small
                *ngIf="form.get('author')?.errors!['required']"
            >author is required</small>
        </div>
    </div>

    <button 
        class="btn btn-block btn-dark"
        [disabled]="form.invalid"
        type="submit"

    >Create post</button>

</form>